{% extends 'views/layout.html.twig' %}

{% block title %}{{ data.title }} - Blog - Mandango{% endblock %}
{% block menu_current_tab %}blog{% endblock %}

{% block content %}
    <div class="blog_post">
        <div class="blog_post_title">
            <h2>
                <a href="{{ path(data.path) }}">{{ data.title }}</a>
            </h2>
        </div>
        <div class="blog_post_info clearfix">
            <span>Author: <strong>{{ data.author }}</strong></span>
            <span>Date: {{ data.date|date('F j, Y') }}</span>
        </div>
        <div class="blog_post_content">
            {{ data.content|raw }}
        </div>
    </div>
{% endblock %}

{% block content_bottom %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'mandango'; // required: replace example with your forum shortname

        var disqus_identifier = '{{ path(data.path) }}';
        var disqus_url = '{{ url(data.path) }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}